In [1]:
##import packages here
import pandas as pd
import numpy as np
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import FunctionTransformer

# We'll use this later
from numpy import meshgrid

## For plotting
import matplotlib.pyplot as plt
import seaborn as sns

## This sets the plot style
## to have a grid on a white background
sns.set_style("whitegrid")

ModuleNotFoundError: No module named 'seaborn'

In [ ]:
sp500_df = pd.read_csv('sp500.csv', names = ['Date', 'Open', 'High', 'Low', 'Close'], header=0 )
sp500_df = sp500_df.dropna()
sp500_df['Date'] = pd.to_datetime(sp500_df['Date'])
sp500_df = sp500_df.set_index('Date')
sp500_df = sp500_df.drop(columns=['Open', 'High', 'Low'])
sp500_df

In [ ]:
tby_df = pd.read_csv('bond.csv', names = ['Date', 'Value'], header =0)
tby_df = tby_df.dropna()
tby_df['Date'] = pd.to_datetime(tby_df['Date'])
tby_df = tby_df.set_index('Date')
tby_df =tby_df.loc[tby_df.index[::-1]]

tby_df

In [ ]:
ffr_df = pd.read_csv('ffr.csv', names = ['Date', 'FedFunds'], header=0)
ffr_df = ffr_df.dropna()
ffr_df['Date'] = pd.to_datetime(ffr_df['Date'])
ffr_df.set_index('Date', inplace=True)
ffr_df =ffr_df.loc[ffr_df.index[::-1]]
ffr_df

In [ ]:
fta_df = pd.read_csv('fedtotalassets.csv', names = ['Date', 'FedTotalAssets'], header=0)
fta_df = fta_df.dropna()
fta_df['Date'] = pd.to_datetime(fta_df['Date'])
fta_df.set_index('Date', inplace=True)
fta_df =fta_df.loc[fta_df.index[::-1]]
fta_df

In [3]:
eps_df =pd.read_csv('sp500eps.csv', names =['Date', 'Value'], header =0)
eps_df = eps_df.dropna()
eps_df['Date'] = pd.to_datetime(eps_df['Date'])
eps_df.set_index('Date', inplace=True)
eps_df

             Value
Date
2020-12-31   95.72
2020-11-30   97.20
2020-10-31   98.53
2020-09-30   99.95
2020-08-31  100.44
...            ...
1871-05-31    8.63
1871-04-30    8.44
1871-03-31    8.13
1871-02-28    8.25
1871-01-31    8.50

[1800 rows x 1 columns]

In [5]:
div_df = pd.read_csv('sp500div.csv', names=['Date', 'Value'], header=0)
div_df = div_df.dropna()
div_df['Date'] = pd.to_datetime(div_df['Date']) 
div_df.set_index(div_df['Date'])
div_df

           Date  Value
0    2021-05-31   1.37
1    2021-04-30   1.41
2    2021-04-01   1.45
3    2021-03-31   1.47
4    2021-03-01   1.49
...         ...    ...
1812 1871-05-31   5.35
1813 1871-04-30   5.49
1814 1871-03-31   5.64
1815 1871-02-28   5.78
1816 1871-01-31   5.86

[1817 rows x 2 columns]

In [6]:
# vix_df = pd.read_csv('VIX.csv')
# vix_df = vix_df.rename(columns={'Trade Date': 'Date'})
# vix_df['Date'] = pd.to_datetime(vix_df['Date'])
# vix_df = vix_df.set_index('Date')
# vix_df

In [9]:
def drop_date(df1, df2):
    for i in df2.index:
        if i not in df1.index:
            df2 = df2.drop(i)

In [11]:
def end_date_calc(start_date, str1):
    if (str1 == 'ffr') or (str1 == 'eps') or (str1 == 'div'):
        if (str1 == 'eps') or (str1 == 'div'):
            start_date += datetime.timedelta(days=1)
        
        y = start_date.year
        m = start_date.month
        if (m + 1 > 12):
            y += 1
            m = 1
        else:
            m += 1
    
        end_date = start_date.replace(year=y, month=m)
        
        if (str1 == 'eps') or (str1 == 'div'):
            end_date -= datetime.timedelta(days=1)
    if (str1 == 'fta'):
        end_date = start_date + pd.Timedelta(days=7)
    return end_date

In [12]:
def convert_to_daily(df, df2, str1, str2 ):
    for i in df2.index: 
        start_date = i 
        end_date = end_date_calc(start_date, str1 )
    
        if end_date <= df.index[-1]:
            continue

        delta = datetime.timedelta(days=1)

        while start_date < end_date:
            if start_date in df.index:
                df.loc[start_date, str1] = df2[str2].loc[i]  
        
            start_date += delta

In [13]:
import datetime as datetime
df = sp500_df.copy()

drop_date(df,tby_df)
drop_date(df,ffr_df)
drop_date(df,fta_df)
drop_date(df,eps_df)

df['tby'] = tby_df['Value'] 
df['ffr'] = ffr_df['FedFunds']
df['fta'] = fta_df['FedTotalAssets']
df['eps'] = eps_df['Value']
df['div'] = div_df['Value']

convert_to_daily(df, ffr_df, 'ffr', 'FedFunds' )
convert_to_daily(df, fta_df, 'fta', 'FedTotalAssets' )
convert_to_daily(df, eps_df, 'eps', 'Value' )
convert_to_daily(df, div_df, 'div', 'Value' )

df = df.dropna()
df

NameError: name 'sp500_df' is not defined

In [651]:
pwd

'/Users/yuqingdai/Documents/GitHub/Stock-Erdos/data/data'

In [654]:
df.to_csv(r'/Users/yuqingdai/Documents/GitHub/Stock-Erdos/data/data/df1.csv')

In [655]:
drop_date(df,vix_df)
df['vix'] = vix_df['Close']
df = df.dropna()
df

              Close   tby   ffr        fta    eps     vix
Date
2021-01-29  3714.24  1.11  0.09  7404926.0  95.72   32.85
2021-01-28  3787.38  1.07  0.09  7404926.0  95.72   30.49
2021-01-27  3750.77  1.04  0.09  7404926.0  95.72   33.05
2021-01-26  3849.62  1.05  0.09  7414942.0  95.72   25.30
2021-01-25  3855.36  1.05  0.09  7414942.0  95.72   25.85
...             ...   ...   ...        ...    ...     ...
2005-06-24  1191.57  3.92  3.04   811179.0  84.81  152.00
2005-06-23  1200.73  3.96  3.04   811179.0  84.81  150.50
2005-06-22  1213.88  3.95  3.04   811179.0  84.81  148.40
2005-06-21  1213.61  4.06  3.04   812235.0  84.81  149.00
2005-06-20  1216.10  4.11  3.04   812235.0  84.81  148.30

[3898 rows x 6 columns]

In [656]:
df.to_csv(r'/Users/yuqingdai/Documents/GitHub/Stock-Erdos/data/data/df2.csv')